<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
</head>
<body>
    <div>
        <h1>Chat</h1>
    </div>
    <div id="chat">
        {% for person, text in history %}
        <div><strong>{{ person|capitalize }}:</strong> {{ text }}</div>
        {% endfor %}
    </div>
    <div>
        <form action="/" method="post">
            <input type="text" name="message" placeholder="Napisz wiadomość..." required>
            <button type="submit">Wyślij</button>
        </form>
    </div>
</body>
</html>