<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div>
        <span>
            <h1>AIChat</h1>
        </span>
        <span>
            <button>Reset</button>
            <button>Help</button>
        </span>
    </div>
    <div id="chat">
        {% for person, text in history %}
        <div id="chat-line"><strong>{{ person|capitalize }}:</strong> {{ text }}</div>
        {% endfor %}
    </div>
    <div>
        <form action="/" method="post">
            <input type="text" name="message" placeholder="Napisz wiadomość..." required>
            <button type="submit">Wyślij</button>
        </form>
    </div>
</body>
</html>